@font-face {
	font-family: "Basier Circle";
	src: local("Basier Circle"), url("./fonts/BasierCircle/BasierCircle-SemiBold.ttf") format("ttf");
	font-weight: 600;
}

@font-face {
	font-family: "Basier Circle";
	src: local("Basier Circle"), url("./fonts/BasierCircle/BasierCircle-Regular.ttf") format("ttf");
	font-weight: 400;
}

body {
	font-family: "Basier Circle", sans-serif;
	background-color: #9ea9b0 !important;
}

.label {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #151b26;
}

.content {
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #878f99;
}
